body.home-controller h1 {
    text-align: center;
    font-size: 40px;
    color: #404040;
}

body.home-controller ul.active-visits {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

body.home-controller ul.active-visits li.visit {
    width: 120px;
    border: 1px solid #a7a7a7;
    height: 160px;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    position: relative;
}

body.home-controller ul.active-visits li.visit p {
    position: absolute;
    left: 10px;
    top: 110px;
    max-height: 40px;
    width: 100px;
    text-align: center;
    overflow: hidden;
}

body.home-controller ul.active-visits li.visit .dropdown {
    position: absolute;
    top: 0;
    right: 0;
}

body.home-controller ul.active-visits li.visit .dropdown button {
    padding: 2px 8px;
}

body.home-controller ul.active-visits li img {
    position: absolute;
    top: 10px; left: 10px;
}

body.home-controller .nobody-here {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

body.home-controller .actions {
    width: 100%;
    text-align: center;
}
